@tailwind base;
@tailwind components;
@tailwind utilities;
.logo-title {
	display: flex;
	flex-direction: column;
	line-height: 1.25;
	margin-left: 0.75rem;
	span:first-child {
		color: white;
	}
	span:last-child {
		color: CRIMSON;
	}
}